.wrapper{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .auth-box{
        width: 30rem;
        box-shadow: 4px 4px 20px rgba($color: #000000, $alpha: 0.2);
        background: rgb(36, 36, 36);
        padding: 4rem 2rem;
        border-radius: 0.5rem;
        text-align: center;
        .header{
            color: #17a2b8;
        }
    }
}

@media screen and (max-width: 500px){
    .wrapper .auth-box{
        padding: 2rem 1rem;
    }
}