.jumbotron{
    background: rgb(36, 36, 36);
    color: #eee;
    box-shadow: 4px 4px 20px rgba($color: #000000, $alpha: 0.2);
    input, textarea{
        background: #000;
        // border: none;
        border-radius: 0.15rem;
        border: solid 1px rgb(41, 40, 40);
        color: #eee;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        &:focus{
            border: solid 1px #17a2b8;
            outline: none;
        }
    }
}